[Desktop Entry]
Name=Murmur
Comment=Museek client for the SoulSeek filesharing network
Exec=murmur
Icon=murmur-64px
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
