Source: museek+
Section: net
Priority: optional
Maintainer: Adam Cécile (Le_Vert) <gandalf@le-vert.net>
Build-Depends: debhelper (>= 4.0.0), libxml++2.6-dev | libxml++1.0-dev, scons, qt3-dev-tools, libqt3-mt-dev, libqt3-headers, swig, libvorbis-dev, python-dev, dpatch, libgamin-dev | libfam-dev
Standards-Version: 3.7.2

Package: museekd
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Description: file-sharing application for the SoulSeek peer-to-peer network
 Museek+ consists of museekd (daemon), museeq (QT gui), muscan (tool for 
 scanning shared files), musetup (configuration script), museekchat (Curses 
 chat client), and Python bindings.
 .
 Server daemon.

Package: museekd-tools
Architecture: any
Depends: ${python:Depends}, museek-python-bindings (= ${Source-Version})
Description: file-sharing application for the SoulSeek peer-to-peer network
 Museek+ consists of museekd (daemon), museeq (QT gui), muscan (tool for 
 scanning shared files), musetup (configuration script), museekchat (Curses 
 chat client), and Python bindings.
 .
 Tools for managing museekd. Provides mulog and museekcontrol.

Package: museek-python-bindings
Architecture: any
Depends: ${python:Depends}
Description: file-sharing application for the SoulSeek peer-to-peer network
 Museek+ consists of museekd (daemon), museeq (QT gui), muscan (tool for
 scanning shared files), musetup (configuration script), museekchat (Curses
 chat client), and Python bindings.
 .
 Python bindings.

Package: museeq
Architecture: any
Depends: ${shlibs:Depends}
Description: file-sharing application for the SoulSeek peer-to-peer network
 Museek+ consists of museekd (daemon), museeq (QT gui), muscan (tool for
 scanning shared files), musetup (configuration script), museekchat (Curses
 chat client), and Python bindings.
 .
 QT client.

Package: mucous
Architecture: any
Depends: ${python:Depends}
Description: file-sharing application for the SoulSeek peer-to-peer network
 Museek+ consists of museekd (daemon), museeq (QT gui), muscan (tool for
 scanning shared files), musetup (configuration script), museekchat (Curses
 chat client), and Python bindings.
 .
 Python/Curses client.
