#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Include dpatch targets
include /usr/share/dpatch/dpatch.make

# Modify SConstruct vars
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	RELEASE = no
else
	RELEASE = yes
endif

build: build-stamp

build-stamp: patch
	dh_testdir

	# Run configure and build with scons
	scons RELEASE=$(RELEASE) MUSEEQ=yes QTDIR=/usr/share/qt3/ museekd Tools museeq
	
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Run scons -c for cleaning
	scons QTDIR=/usr/share/qt3/ -c
	
	# Dirty hacks for scons -c issues
	-./clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Install files
	scons PREFIX=/usr MANDIR=/usr/share/man/man1 DESTDIR=$(CURDIR)/debian/tmp install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installman
	dh_python
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:
        # Nothing to do # 

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch
