[Desktop Entry]
Name=Museeq
Comment=Museeq is a client for museek, the Soulseek daemon
Exec=museeq
Icon=museeq
Terminal=false
StartupNotify=false
Type=Application
Categories=Qt;Network;P2P;
Comment[es]=Museeq es un cliente para museek, el demonio de SoulSeek
Comment[it]=Museeq è un client per museek, il demone di SoulSeek
