[Desktop Entry]
Name=Musetup-gtk
Comment=Museekd configuration tool
Exec=musetup-gtk
Icon=museek_alt2
Terminal=false
Type=Application
Categories=GTK;Network;P2P;
StartupNotify=true
Comment[fr]=Outil de configuration pour museekd
Comment[es]=Herramienta de configuracion para museekd
Comment[it]=Utilità di configurazione per museekd
